@import '../variables.scss';
@import '../mixins.scss';
@import '../../components/author/author.scss';
@import '../../components/socials_list/socials_list.scss';
@import '../../components/header/header.scss';
@import '../../components/stack/stack.scss';
@import '../../components/contacts/contacts.scss';

section{
    width: 100%;
}

.about__enter{
    background-image: url('../../img/water.jpg');
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.about__header{
    width: 100%;
}
.about__enter-arrow{
    margin-bottom: 70px;
}
.arrow__vector{
    fill: rgba($color: $white, $alpha: 0.5);
    width: 30px;
    height: 30px;
    transition: 0.3s;

    &:hover{
        fill: $white;
    }
}


.about__main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "about techs";

    @include tablet{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.column--left{
    background-color: #ebefe2;
    grid-area: about;
}
.column--right{
    grid-area: techs;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
        width: 100%;
    }

}
.column__about-alignment{
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include tablet{
        padding: 0 20%;
    }

    @include phone{
        padding: 0 15px;
    }
}
.column__skills-alignment{
    margin: 0 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include tablet{
        margin: 0 110px;
    }

}


.about__title{
    margin-bottom: 30px;
}
.about__title-text{
    color: $dark-gray;

    &:after{
        background-color: $dark-gray;
    }
}

.about__img{
    height: 400px;
    width: 500px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phone{
        width: 320px;
    }
}
.about__pic{
    max-height: 100%;
    max-width: 100%;
}



.about__description{
    margin-bottom: 15px;
}
.description__title{
    color: $gray-green;
    margin-bottom: 25px;
    
    &:after{
        background-color: $gray-green;    
    }
}
.description__text{
    line-height: 1.5;
    margin-bottom: 15px;
}


.skills__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;

    @include tablet{
        margin-top: 50px;
    }
}
.skills__title{
    text-align: center;
    width: 300px;
    margin-bottom: 25px;

    &::after{
        background-color: $gray-green;
    }
}
.skills__text{
    line-height: 1.5;
}


.stack__list, .stack__item{
    @include tablet{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.stack__name{
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 20px;
}


.about__contacts{
    background-image: url('../../img/map.jpg');
    background-size: cover;
    background-position: center;

    height: 100vh;
    margin-bottom: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts__block{
    padding: 40px;
    background-color: rgba($color: $white, $alpha: 0.7);
    border-radius: 4px;
}

.contacts__title{
    margin-bottom: 30px;
    &::after{
        background-color: $gray-green;
    }
}



.footer{
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    
    
    width: 100%;
    height: 150px;
    background-color: rgba($color: $dark-gray, $alpha: 0.8);
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__quote{
    color: rgba($color: $white, $alpha: 0.5);
    width: 40%;
    line-height: 1.5;

}

.footer__text{
    font-weight: 300;
    font-style: italic;

}
.footer__author{
    font-weight: 500;
    font-style: italic;

}

  