- var skills = [{type: 'backend',skills: [{skill: 'PHP', percent: 55}, {skill: 'MySQL', percent: 25}, {skill: 'Node.js & npm', percent: 10}, {skill: 'Mongo.db', percent: 5}]}, {type: 'frontend', skills: [{skill: 'HTML5', percent: 85}, {skill: 'CSS', percent: 70}, {skill: 'JavaScript', percent: 50}]}, {type: 'workflow', skills: [{skill: 'git', percent: 20}, {skill: 'webpack', percent: 45}, {skill: 'gulp', percent: 35}]}]

include ../../components/stack/stack.pug

ul.stack__list
    if skills.length
        each skill in skills
            li.stack__item
                .stack__name=skill.type
                .stack__techs
                    +stack(skill.skills)
    else
        h3.stack__fallback.subtitle Скиллов пока нет
