@import '../variables.scss';
@import '../mixins.scss';
@import '../../components/enter_screen/enter_screen.scss';
@import '../../components/footer/footer.scss';

.triangle__vector{
    position: absolute;
    top: 0;
    transform: translateY(-99%);

    .left{
        fill: #f9f8f0;
    }
    .right{
        fill: #f9f8f0;
    }
}

.blog{
    position: relative;
    background-color: #faf8f0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.maincontent{
    margin-left: 400px;
    margin-right: 100px;
    width: 100%;

    @include tablet{
        width: 100%;
        margin: 0 25px;
    }
}
.sidebar{
    width: 250px;

    @include tablet{
        background-color: $light-green;
        padding-top: 100px;
        transition: left 0.5s;
    }    
}
.blog__sidebar{
    left: 50px;
    top: 70px;
    position: absolute;
    bottom: 0;
    overflow: visible;

    @include tablet{
        top: -70px;
        left: -250px;
    }
}
.blog__sidebar--visible{
    @include tablet{
        left: 0;
    }
}
.blog__sidebar--fixed{
    position: fixed;

    .headers__list{
        padding-right: 0;
    }
    .sidebar__button{
        left: 205px;
    }
}

.sidebar__button{
    display: none;
    transition: 0.5s;

    @include tablet{
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $light-green;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 190px;
    }
}

.headers__list{
    height: 100%;
    width: 100%;
    z-index: 10;
    padding-right: 17px;
    overflow-y: auto;
}


.headers__item{
    padding: 12px 20px 12px 0;
    margin-bottom: 10px;
    text-align: right;
    z-index: 10;

    @include tablet{
        color: $white;
    }
}
.headers__item--active{
    border-right: 3px solid $green;
    
    @include tablet{
        border: none;
        font-weight: 500;
    }
}


.headers__link{
    line-height: 1.5;

    @include tablet{
        color: $white;
    }

}




.posts__item{
    padding: 70px 0;

    &:not(:last-of-type){
        border-bottom: 5px solid $light-gray;
    }

    @include tablet{
        padding: 50px 0;
    }
    @include phone{
        padding: 25px 0;

        &:not(:last-of-type){
            border-bottom: 3px solid $light-gray;
        }
    }
}
.post__title{
    color: $gray-green;
    font-family: 'Sansus-Webissimo', 'Arial', 'sans-serif';
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;

    @include tablet{
        font-size: 30px;
        margin-bottom: 15px;
    }
    @include phone{
        font-size: 20px;
    }
}
.post__date{
    color: $green;
    font-weight: 300;
    margin-bottom: 30px;

    @include tablet{
        margin-bottom: 15px;
    }
}
.post__text{
    color: $gray-green;
    line-height: 1.5;
}