extends ../common.pug

block title
    title Blog

block content
        
    include ../../components/enter_screen/enter_screen.pug
    +enter_screen('Блог', 'blog')

    section.blog
        include ../../icons/header_triangles.svg
        aside.blog__sidebar.sidebar
            button#showSidebar.sidebar__button
            include ../../components/headers_list/headers_list.pug
        .maincontent
            include ../../components/articles_list/articles_list.pug

    include ../../components/footer/footer.pug
