-var nav=[{text:'Мои работы', url: 'works.html'}, {text: 'Обо мне', url: 'about.html'}, {text: 'Блог', url: 'blog.html'}, {text: 'На главную', url: 'index.html'}]

include ../../icons/features.svg

#columnLeft.menu__column.menu__column--left


#columnRight.menu__column.menu__column--right

#menuNav.menu__nav
    ul.menu-nav
        each value in nav
            li.menu-nav__item
                a(href=value.url).menu-nav__link.title= value.text

.menu__button#closeNavButton
    button.menu__button-close.close-btn


