-var nav = {works: 'Мои работы', about: 'Обо мне', blog: 'Блог', index: 'Авторизация'}
include ../../icons/features.svg

#columnLeft.menu__column.menu__column--left


#columnRight.menu__column.menu__column--right

#menuNav.menu__nav
    ul.menu-nav
        each value, key in nav
            li.menu-nav__item
                a(href=`${key}.html`).menu-nav__link.title= value

.menu__button#closeNavButton
    button.menu__button-close.close-btn


