-var nav=[{text:'Мои работы', url: '/works'}, {text: 'Обо мне', url: '/about'}, {text: 'Блог', url: '/blog'}, {text: 'На главную', url: '/'}]

include ../../icons/features.svg

#columnLeft.menu__column.menu__column--left


#columnRight.menu__column.menu__column--right

#menuNav.menu__nav
    ul.menu-nav
        each value in nav
            li.menu-nav__item
                a(href=value.url).menu-nav__link.title= value.text

.menu__button#closeNavButton
    button.menu__close-btn
        .close-btn__line.close-btn__line--top
        .close-btn__line.close-btn__line--middle
        .close-btn__line.close-btn__line--bottom


