extends ../common.pug

block title
    - var worksArray = JSON.stringify([{id: 1, title: "школа онлайн образования", stack: "HTML, CSS", url: "#", img: "./img/work-1.png"}, { id: 2,title: "itLoft",stack: "HTML, JS", url: "#",img: "./img/work-2.png"},{id: 3,title: "smth",stack: "CSS, JS",url: "#",img: "./img/work-3.png"}]);
    title Works
    script#myWorks 
        != `window.WORKS = ${worksArray}`

block content
    include ../../icons/features.svg

    include ../../components/enter_screen/enter_screen.pug
    +enter_screen('Мои работы', 'works')
    
    section.works
        include ../../icons/header_triangles.svg
        include ../../components/slider/slider.pug
            
    .works__background.has_bg_image
        section.comments
            h2.comments__title.title Что обо мне говорят
            ul.comments__list
                li.comments__item.comment
                    .comment__info
                        .comment__img
                            img.comment__pic(src=require('../../img/dima.png'))
                        .comment__text Этот парень проходил обучение веб-разработке 
                            | не где-то, а в LoftSchool! 2 месяца только самых тяжелых 
                            | испытаний и бессонных ночей! 
                            .comment__icon
                                svg.comment__vector
                                    use(xlink:href="#quotes")

                    .comment__person
                        .comment__author Ковальчук Дмитрий
                        .comment__post — основатель Loftschool
                li.comments__item.comment
                    .comment__info
                        .comment__img
                            img.comment__pic(src=require('../../img/vova.png'))
                        .comment__text Этот код выдержит любые испытания. 
                            | Только пожалуйста, не загружается сайт на слишком 
                            | старых браузерах!
                            .comment__icon
                                svg.comment__vector
                                    use(xlink:href="#quotes")

                    .comment__person
                        .comment__author Сабанцев Владимир
                        .comment__post — преподаватель

        section.feedback
            
            .feedback__form
                .blurred
                    .blur
                    form.form(method="POST" action='/works' enctype='application/x-www-form-urlencoded')
                        h2.form__title.subtitle Связаться со мной
                        .form__inputs
                            input#inputName.form__input.form__input--name(placeholder="Имя" name='name')
                            input#inputMail.form__input.form__input--mail(placeholder="Email" name='mail')
                            textarea#inputMessage.form__input.form__input--message(placeholder="Ваше сообщение" name='message')
                        .form__buttons
                            button#formSubmit(type="submit").form__submit.form-button Отправить
                            button#formReset(type="reset").form__reset.form-button Очистить
            button#scrollUpButton.arrow.arrow--up
                svg.arrow__vector.arrow__vector--up
                    use(xlink:href="#arrow_down")
            include ../../components/response_alert/response_alert.pug

        .works__footer
            include ../../components/footer/footer.pug

