@import '../variables.scss';
@import '../mixins.scss';
@import '../../components/enter_screen/enter_screen.scss';
@import '../../components/slider/slider.scss';
@import '../../components/footer/footer.scss';

.works{
    position: relative;
    height: 100vh;
}
.triangle__vector{
    position: absolute;
    top: 0;
    transform: translateY(-99%);

    .left{
        fill: #ebefe2;

        @include tablet{
            fill: #e1e4d7;
        }

        @include phone-landscape{
            fill: #ebefe2;
        }
    }
    .right{
        fill: #e1e4d7;
    }
}

.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;

    @include tablet{
        padding: 50px 30px;
    }
    @include phone{
        padding: 40px 15px;
    }
}
.comments__title{
    text-align: center;
    margin-bottom: 35px;
    color: $dark-gray;
    font-weight: 400;

    &::after{
        margin-top: 40px;
        background-color: $dark-gray;
    }

    @include tablet{
        width: 300px;

        &::after{
            margin-top: 20px;
        }
    }
    @include phone{
        margin-bottom: 25px;
    }
}
.comments__list{
    display: flex;
    align-items: stretch;

    @include phone{
        flex-direction: column;
    }
}
.comments__item{
    width: 50%;
    margin: 0 10px;

    @include tv{
        width: 380px;
    }

    @include phone{
        width: 100%;
        margin: 0;

        &:not(:last-of-type){
            margin-bottom: 40px;
        }
    }
}

.comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
}
.comment__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment__img{
    margin-bottom: 20px;
}
.comment__text{
    margin-bottom: 25px;
    position: relative;
}
.comment__icon{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-40%);
}
.comment__vector{
    width: 70px;
    height: 70px;
    transform: rotate(180deg);
    fill: rgba($color: $light-green, $alpha: 0.1)
}
.comment__author{
    font-weight: 400;
    color: $green;
}


.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 70px;

    @include tablet{
        margin-bottom: 50px;
    }
    @include phone{
        margin-bottom: 40px;
    }
}
.blurred{
    // overflow: hidden;
    position: relative;

    .blur{
        position: absolute;
        border-radius: 4px;
        background-color: rgba($color: #e0e0dc, $alpha: 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -10;
    }
}


.feedback__form{
    border-radius: 4px;
    margin-bottom: 70px;

    @include tablet{
        margin-bottom: 50px;
    }
    @include phone{
        margin-bottom: 40px;
    }
}
.form, .form__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__inputs{
    padding: 0 12px;
}
.form__title{
    padding-top: 40px;

    margin-bottom: 30px;
    font-weight: 400;

    &::after{
        background-color: $gray-green;
    }
}
.form__input-container{
    position: relative;
    margin-bottom: 20px;
}
.form__input{
    margin-bottom: 20px;
    width: 340px;
    padding: 13px 20px;
    border-radius: 20px;
    font-weight: 300;
    font-size: 14px;

    @include tablet{
        width: 300px;
    }
    @include phone{
        width: 270px;
    }
}
.form__input--invalid{
    border: 1px solid $red;
}
.form__input--message{
    height: 140px;
    resize: none;
}
.form__buttons{
    background-color: $light-green;
    border-radius: 0 0 4px 4px;
    width: 100%;
    display: flex;
    align-items: center;
}
.form-button{
    padding: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    transition: 0.3s;

    &:hover{
        background-color: $green;
    };   
    &:first-of-type{
        border-radius: 0 0 0 4px;
        border-right: 1.5px solid #a0b99e;
    };
    &:last-of-type{
        border-radius: 0 0 4px 0;
    }
}

.works__footer{
    width: 100%;
}
.works__background{
    position: relative;
    z-index: -10;
    background-image: url('../../img/comments_bg_high.jpg');
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    @include tv{
        background-image: url('../../img/comments_bg_big.jpg');
        background-position: center -10px;
    }
    @include tablet{
        background-image: url('../../img/comments_bg_ipad.jpg');
        background-position: center -10px;
    }
    @include phone{
        background-image: url('../../img/comments_bg_phone.jpg');
        background-position: center bottom;
        // background-position: center 90%;
    }
}


.form__error{
    text-align: center;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: $red;
    color: $white;
    margin-bottom: 20px;
    max-width: 340px;
    
    @include tablet{
        max-width: 300px;
    }
    @include phone{
        max-width: 270px;
    }
}