extends ../common.pug

block title
    title Works

block content
    include ../../icons/features.svg

    //- include ../../components/preloader/preloader.pug
    include ../../components/enter_screen/enter_screen.pug
    +enter_screen('Мои работы', 'works')
    
    section.works
        include ../../icons/header_triangles.svg
        include ../../components/slider/slider.pug
            
    .works__background.has_bg_image
        section.comments
            h2.comments__title.title Что обо мне говорят
            ul.comments__list
                li.comments__item.comment
                    .comment__info
                        .comment__img
                            img.comment__pic(src=require('../../img/dima.png'))
                        .comment__text Этот парень проходил обучение веб-разработке 
                            | не где-то, а в LoftSchool! 2 месяца только самых тяжелых 
                            | испытаний и бессонных ночей! 
                            .comment__icon
                                svg.comment__vector
                                    use(xlink:href="#quotes")

                    .comment__person
                        .comment__author Ковальчук Дмитрий
                        .comment__post — основатель Loftschool
                li.comments__item.comment
                    .comment__info
                        .comment__img
                            img.comment__pic(src=require('../../img/vova.png'))
                        .comment__text Этот код выдержит любые испытания. 
                            | Только пожалуйста, не загружается сайт на слишком 
                            | старых браузерах!
                            .comment__icon
                                svg.comment__vector
                                    use(xlink:href="#quotes")

                    .comment__person
                        .comment__author Сабанцев Владимир
                        .comment__post — преподаватель

        section.feedback
            
            .feedback__form
                .blurred
                    .blur
                    form.form(action="POST")
                        h2.form__title.subtitle Связаться со мной
                        .form__inputs
                            input#inputName.form__input.form__input--name(placeholder="Имя")
                            input#inputMail.form__input.form__input--mail(placeholder="Email")
                            textarea#inputMessage.form__input.form__input--message(placeholder="Ваше сообщение")
                        .form__buttons
                            button#formSubmit(type="submit").form__submit.form-button Отправить
                            button#formReset(type="reset").form__reset.form-button Очистить
            button#scrollUpButton.arrow.arrow--up
                svg.arrow__vector.arrow__vector--up
                    use(xlink:href="#arrow_down")

        .works__footer
            include ../../components/footer/footer.pug
