.login
    include ../response_alert/response_alert.pug
    form#loginForm.login__form.auth-form(method='POST' action='/')
        .login__main
            h2.login__title.subtitle Авторизуйтесь
            .auth-form__inputs
                .auth-form__row
                    input#inputLogin.auth-form__input.auth-form__input--login(placeholder="Логин" name='login')
                    .auth-form__icon
                        svg.auth-form__vector.auth-form__vector--login
                            use(xlink:href="#login")
                .auth-form__row
                    input#inputPassword.auth-form__input.auth-form__input--password(placeholder="Пароль" name='password' type='password')
                    .auth-form__icon
                        svg.auth-form__vector.auth-form__vector--password
                            use(xlink:href="#password")

        .login__buttons.form__buttons
            button#backToWelcome(type="reset").form__return.form__button На главную
            button#formSubmit(type="submit").form__submit.form__button Войти
