@import '../../pages/variables.scss';
@import '../../pages/mixins.scss';
@import '../form_validation/validation_styles.scss';
@import '../response_alert/response_alert.scss';

.login {
  background-color: rgba($color: #122620, $alpha: 0.6);
  border-radius: 4px;
  position: relative;
}
.login__main {
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone-landscape {
    margin: 20px auto;
  }
}

.login__title {
  color: $white;
  margin-bottom: 30px;
  font-weight: 300;

  &::after {
    background-color: $white;
  }
  @include phone {
    font-size: 30px;
  }
  @include phone-landscape {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.auth-form__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include phone {
    padding: 0 15px;
  }
}
.auth-form__row {
  position: relative;
  margin-bottom: 20px;
}
.auth-form__input {
  border: 1px solid transparent;
  width: 340px;
  padding: 13px 20px 13px 60px;
  border-radius: 20px;
  font-weight: 300;

  @include tablet {
    width: 300px;
  }
  @include phone {
    width: 260px;
  }
}
.auth-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.auth-form__vector {
  width: 15px;
  height: 15px;
  fill: $light-gray;
}

.form__buttons {
  background-color: $light-green;
  border-radius: 0 0 4px 4px;
  width: 100%;
  display: flex;
  align-items: center;
}
.form__button {
  padding: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  transition: 0.3s;

  &:hover {
    background-color: $green;
  }
  &:first-of-type {
    border-radius: 0 0 0 4px;
    border-right: 1.5px solid #a0b99e;
  }
  &:last-of-type {
    border-radius: 0 0 4px 0;
  }

  @include phone {
    padding: 15px;
  }
}

.form__input--invalid {
  border: 1px solid $red;
}
