mixin author(text, caseClass)
    .author
        .author__img.has_bg_image
        .author__description
            .author__name Анастасия Коновалова
            h1(class = "author__site-description author__" + caseClass)= text
