mixin author(text, caseClass)
    .author
        .author__img
        .author__description
            .author__name Анастасия Коновалова
            div(class = "author__site-description author__" + caseClass)= text
