include ../../components/author/author.pug
include ../../components/socials_list/socials_list.pug

-var nav=[{text:'Мои работы', url: 'works.html'}, {text: 'Обо мне', url: 'about.html'}, {text: 'Блог', url: 'blog.html'}]

.welcome
    .welcome__info
        +author('Личный сайт веб-разработчика', 'text')
    .welcome__socials
        +socials('rgba')

    nav.welcome__nav
        each value in nav
            li.welcome__nav-item
                a(href=value.url).welcome__nav-link= value.text
