@import '../variables.scss';
@import '../mixins.scss';
@import '../../components/welcome/welcome.scss';
@import '../../components/login_form/login_form.scss';

body{
    @include tablet{
        background-image: url('../../img/water.jpg');
        background-size: cover;
        background-position: center;
    }
}

.parallax{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.parallax__layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.parallax__img{
    height: 105%;
    min-width: 105%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0)
}

.auth{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;

    @include phone{
        position: relative;
        margin: 30px;
    }
    @include miniphone{
        margin: 10px 0 15px 0;
    }
}

.button{
    padding: 15px 25px 15px 25px;
    border: solid 1.5px $white;
    border-radius: 25px;
    color: $white;
    transition: 0.3s;

    &:hover{
        border: solid 1.5px $green;
        background-color: $green;
    }
}


.flip-container{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}
.flipped{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipper{
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;  
	-o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    position: relative;
}

.front, .back{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    @include phone{
        margin: auto 15px;
    }

    -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.back{
    -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
