extends ../common.pug

block title
    title Welcome

block content
    include ../../icons/socials_sprite.svg
    - var socials=['vk', 'git', 'in']
    - var pages=['Мои работы', 'Обо мне', 'Блог']

    .auth
        button.auth__button.button Авторизоваться
    .central__block.enter
        .enter__info.user
            .user__img
            .user__text
                .user__name Анастасия Коновалова
                .user__site-description Личный сайт веб-разработчика
        .enter__socials.socials
            ul.socials__list
                each value, index in socials
                    li.socials__item
                        a.socials__link(href="#")
                            svg(class = "socials__vector socials__vector--" + value)
                                use(xlink:href="#" + value)

        nav.enter__nav.nav
            each value, index in pages
                li.nav__item
                    a.nav__link(href="#")= value
