extends ../common.pug

block title
    title Welcome

block content

    .auth
        button.auth__button.button Авторизоваться
    .central__block.entrance-block
        include ../../components/welcome/welcome.pug

        //- include ../../components/login_form/login_form.pug
