@import '../variables.scss';
@import '../mixins.scss';
@import '../../components/welcome/welcome.scss';
@import '../../components/login_form/login_form.scss';

body{
    background-image: url('../../img/water.jpg');
    background-size: cover;
    background-position: center;
}

.auth{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;

    @include phone{
        position: relative;
        margin: 30px;
    }
    @include miniphone{
        margin: 10px 0 15px 0;
    }
}

.button{
    padding: 15px 25px 15px 25px;
    border: solid 1.5px $white;
    border-radius: 25px;
    color: $white;
    transition: 0.3s;

    &:hover{
        border: solid 1.5px $green;
        background-color: $green;
    }
}


.entrance-block{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    @include phone{
        margin: auto 15px;
    }
}