extends ../common.pug

block title
    title Welcome

block content
    .enter
        .enter__block
            .enter__img
            span.enter__text это входная страница
        .enter__nav
            nav.nav__list
                li.nav__item Мои работы
                li.nav__item Обо мне
                li.nav__item Блог
