extends ../common.pug

block title
    title Welcome

block content

    .auth
        button#authButton.auth__button.button Авторизоваться
    .central__block.entrance-block.flip-container
        .flipper#flippedBlock
            .front
                include ../../components/welcome/welcome.pug
            .back
                include ../../components/login_form/login_form.pug
