extends ../common.pug

block title
    title Welcome

block content
    - var layer1 = require('../../img/layer_1.png')
    - var layer2 = require('../../img/layer_2.png')
    - var layer3 = require('../../img/layer_3.png')

    .parallax#parallax
    .auth
        button#authButton.auth__button.button Авторизоваться
    .central__block.entrance-block.flip-container
        .flipper#flippedBlock
            .front
                include ../../components/welcome/welcome.pug
            .back
                include ../../components/login_form/login_form.pug
