doctype html
html
    head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    block title
        title test webpack pug
    body.has_bg_image
        div.wrapper#wrapper
            block content