@import "./fonts.scss";
@import "./variables.scss";
@import './mixins.scss';

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'roboto', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    color: $gray-green;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    position: relative;
    line-height: 1;

    @include tv{
        font-size: 18px;
    }
    @include tablet{
        font-size: 14px;
    }
    @include phone{
        font-size: 13px;
    }
}

button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}
  
ul, nav{
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

input, textarea{
    border: none;

    &:focus{
        outline: none;
    }
}

section{
    width: 100%;
}

.wrapper{
    z-index: 0;
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#svg-sprite{
    display: none;
}

.central__block{
    margin: auto;
}

.title{
    font-family: 'Sansus-Webissimo', 'Arial', 'sans-serif';
    font-size: 63px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after{
        content: '';
        height: 3px;
        width: 90px;
        margin-top: 30px; 
        transition: 0.4s;
    }
    @include tablet{
        font-size: 50px;
        &::after{
            margin-top: 20px;
            height: 2px;
        }
    }
    @include phone{
        font-size: 35px;
        &::after{
            width: 56px;
        }
    }

    @include phone-landscape{
        font-size: 35px;
        &::after{
            width: 56px;
            margin-top: 15px; 
        }
    }
}

.subtitle{
    font-family: 'Sansus-Webissimo', 'Arial', 'sans-serif';
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after{
        content: '';
        height: 3px;
        width: 90px;
        margin-top: 30px;
        transition: 0.4s;
    }

    @include tablet{
        font-size: 30px;
        &::after{
            height: 2px;
            margin-top: 20px;
        }
    }
    @include phone{
        font-size: 21px;
        &::after{
            width: 56px;
        }
    }
    @include phone-landscape{
        font-size: 21px;
        &::after{
            width: 56px;
            margin-top: 15px;
        }
    }

}

.background__text--white {
    .background__vector{
        fill: rgba($color: $white, $alpha: .2)
    }
}
.background__text--green {
    .background__vector{
        fill: rgba($color: #93c42e, $alpha: .2)
    }
}