@import "./fonts.scss";
@import "./variables.scss";

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'roboto', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    color: $gray-green;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    position: relative;
    line-height: 1;
    letter-spacing: 1px;
}

button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
}
  
ul, nav{
    list-style: none;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

input{
    border: none;

    &:focus{
        outline: none;
    }
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#svg-sprite{
    display: none;
}

.central__block{
    margin: auto;
}

.title{
    font-family: 'Sansus-Webissimo', 'Arial', 'sans-serif';
    font-size: 63px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after{
        content: '';
        height: 3px;
        width: 90px;
        margin-top: 15px;        
    }
}

.subtitle{
    font-family: 'Sansus-Webissimo', 'Arial', 'sans-serif';
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after{
        content: '';
        height: 3px;
        width: 90px;
        margin-top: 30px;
    }
}