// colors
$light-green: #6c9c5a;  
$green: #4e8839;
$gray-green: #566358;
$dark-gray: #373e42;
$gray-medium: #53595d;
$gray: #6d7976;
$light-gray: #c4cbcd;
$white: #fff;
$blue: #6da3bd;
$red: #e44845;

// breakpoints
$laptop: 840px;
$tablet: 768px;
$minitablet: 700px;
$phone: 480px;
$miniphone: 340px;

$smallheight: 649px;