@import '../../pages/variables.scss';
@import '../../pages/mixins.scss';

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.hamburger__vector{
    width: 40px;
    height: 40px;
    fill: $white;
    transition: 0.3s;

    &:hover{
        fill: $green
    }

    @include tablet{
        width: 35px;
        height: 35px;
    }
    @include phone{
        width: 25px;
        height: 25px;
    }
}