include ../../icons/features.svg
include ../socials_list/socials_list.pug

header.header
    .header__socials
        +socials('white')

    .header__nav
        .header__menu
            button#navButton.header__hamburger.hamburger
                .hamburger__line.hamburger__line--top
                .hamburger__line.hamburger__line--middle
                .hamburger__line.hamburger__line--bottom
