footer.footer
    -var nav=[{text:'Мои работы', url: '/works'}, {text: 'Обо мне', url: '/about'}, {text: 'Блог', url: '/blog'}, {text: 'На главную', url: '/'}]

    .footer__nav
        .nav__block
            ul.nav__list.nav
                each value in nav
                    li.nav__item
                        a(href=value.url).nav__link= value.text

        .nav__socials
            +socials('rgba-white') 
    .footer__quote
        .footer__text Всегда пишите код так, 
            | будто сопровождать его будет склонный к 
            | насилию психопат, который знает, где вы живете.
        .footer__author — Martin Golding
