@import '../variables.scss';
@import '../mixins.scss';
@import '../../components/author/author.scss';
@import '../../components/header/header.scss';


.enter{
    background-image: url('../../img/water.jpg');
    background-size: cover;
    background-position: center;
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.enter__header{
    width: 100%;
}
.enter__arrow{
    margin-bottom: 70px;

    @include tablet{
        margin-bottom: 50px;
    }
}
.arrow__vector{
    fill: rgba($color: $white, $alpha: 0.7);
    width: 30px;
    height: 30px;
    transition: 0.3s;

    &:hover{
        fill: $white;
    }
}
.arrow__vector--up{
    transform: rotate(180deg);
}


.enter__central{
    position: relative;
}
.background__block{
    width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}