include ../author/author.pug
include ../../icons/features.svg


mixin enter_screen(title, page)
    .fullscreen
        include ../../components/fullscreen_nav/fullscreen_nav.pug

    section.enter
        .enter__bg
        .enter__header
            include ../../components/header/header.pug

        .enter__central
            .background__text.background__text--white
                if page == 'blog'
                    include ../../icons/blog_header.svg
                if page == 'about'
                    include ../../icons/about_header.svg
                if page == 'works'
                    include ../../icons/works_header.svg
            +author(title, 'title')


        .enter__arrow
            button#scrollDownButton.arrow
                svg.arrow__vector
                    use(xlink:href="#arrow_down")
