@import '../../pages/variables.scss';
@import '../../pages/mixins.scss';

.modal__wrapper {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.modal__wrapper--visible {
  visibility: visible;
}

.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  padding: 20px;
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px $black05;

  @include phone {
    width: 280px;
  }
}

.modal__text {
  color: $gray-green;
  margin-bottom: 20px;
}

.modal__button {
  padding: 15px;
  border-radius: 5px;
  color: $white;
  background-color: $light-green;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: $green;
  }
}
