@import '../../pages/variables.scss';
@import '../../pages/mixins.scss';

.contacts__list{
    @include phone-landscape{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 20px
    }
}
.contacts__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    &:last-of-type{
        margin-bottom: 0;
    }

    @include phone-landscape{
        // margin-bottom: 0;
        min-width: 200px;
    }
}
.contacts__vector{
    width: 30px;
    height: 30px;
    fill: $light-green
}

.contacts__text{
    margin-left: 15px;
}