include ../../icons/contacts_sprite.svg

- var contacts={skype: 'archi-nastya', mail: 'konovalova.anast@gmail.com', phone: '+7 926 754 29 58', map: 'Москва, ул. Ивовая, д. 6'}

ul.contacts__list
    each value, key in contacts
        li.contacts__item
            a(href=`${
                key === 'mail' 
                    ? 'mailto:konovalova.anast@gmail.com'
                    : key === 'phone'
                    ? 'tel:+79267542958'
                    : '#'
            }`)
                .contacts__img
                    svg(class = "contacts__vector contacts__vector--" + key)
                        use(xlink:href="#" + key)  
                        
            .contacts__text=value
