-var message = 'Not found'
-var error = {status: 404}

doctype html
html
  head
    title= title
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
  body
    .error__wrapper
      .error__container
        h2.error__text Что-то пошло не так: 
        h2.error__text= message
        h2.error__text= error.status
    
